<script lang="ts">
	import SimpleButton from './primitives/SimpleButton.svelte';

	let button;

	export let name: string = 'foo';
	export let count: number = 10;

	export let bgColor: string = 'whitesmoke';
</script>

<div class="relative h-16 w-32 bg-{bgColor}">
	<div class="absolute left-0 h-16 w-28">
		<SimpleButton bind:this={button} {name} bind:count {bgColor} />
	</div>
	<button class="absolute top-0 right-0 h-8 w-4 border bg-inherit rounded" on:click={button.increment}>+</button>
	<button class="absolute top-8 right-0 h-8 w-4 border bg-inherit rounded" on:click={button.decrement}>-</button>
</div>

