<script lang="ts">
	import SimpleButton from './primitives/SimpleButton.svelte';

	let button;

	export let name: string = 'foo';
	export let count: number = 10;
	export let useScroll: boolean = false;

	export let bgColor: string = 'whitesmoke';
</script>

<div class="relative h-16 w-32 border-0 rounded mb-0">
	<SimpleButton bind:this={button} {name} bind:count {bgColor} {useScroll} />
</div>
