<script lang="ts">
	import SimpleButton from './primitives/SimpleButton.svelte';
	import Gradient from './primitives/Gradient.svelte';

	let button;

	export let name: string = 'foo';
	export let count: number = 10;
	export let bgColor: string = 'transparent';

	$: intensity = count / 100;
</script>

<div class="relative h-16 w-32 mb-0">
	<Gradient {intensity}>
		<SimpleButton bind:this={button} {name} bind:count {bgColor} />
	</Gradient>
</div>
