<script lang="ts">
	import ButtonWithPlusMinus from './ButtonWithPlusMinus.svelte';
	import Gradient from './primitives/Gradient.svelte';

	let button;

	export let name: string = 'bar';
	export let count: number = 10;

	$: intensity = count / 100;
	export let bgColor: string = 'transparent';
</script>

<div class="relative h-16 w-32 mb-1">
	<Gradient {intensity}>
		<ButtonWithPlusMinus bind:this={button} {name} bind:count {bgColor} />
	</Gradient>
</div>
