<script>
	import ContainersContainer from '$lib/containers/ContainersContainer.svelte';

	export const prerender = true;

	const tests = false;
</script>

<div>
	<p>hello!</p>
	<p>Add a section, then a counter to use.</p>
	<p>No data is persisted, so be careful with refresh.</p>
	{#if tests}
		<small>Filled with initial test data.</small>
	{/if}
</div>
<div>
	<ContainersContainer useGradient={false} usePlusMinus={false} {tests} />
</div>
