<script>
	import ButtonWithGradient from '$lib/ButtonWithGradient.svelte';
	import ButtonWithPlusMinus from '$lib/ButtonWithPlusMinus.svelte';
	import SimpleButton from '$lib/primitives/SimpleButton.svelte';
	import ButtonContainer from '$lib/containers/ButtonContainer.svelte';
	import ButtonWithPlusMinusWithGradient from '$lib/ButtonWithPlusMinusWithGradient.svelte';
	import ButtonInABox from '$lib/ButtonInABox.svelte';

	export const prerender = true;
</script>

<div>
	<h1>Containers</h1>
	<h2>ButtonContainer</h2>
	<ButtonContainer />

	<h2>Fancier ButtonContainer</h2>
	<ButtonContainer usePlusMinus={true} useGradient={true} />
	<ButtonContainer usePlusMinus={true} useGradient={false} />

	<h1>Buttons</h1>
	<h2>Button with gradient</h2>
	<ButtonWithGradient />

	<h2>Button with +/- buttons</h2>
	<ButtonWithPlusMinus />

	<h2>Button with +/- buttons and with gradient</h2>
	<ButtonWithPlusMinusWithGradient />

	<h2>Button in a box</h2>
	<ButtonInABox />

	<h2>Button in a box (w/scroll)</h2>
	<ButtonInABox useScroll={true} />

	<h2>Primitive button</h2>
	<div class="simple-button">
		<SimpleButton />
	</div>
</div>

<style>
	div.simple-button {
		height: var(--button-max-height);
		width: var(--button-max-width);
		border: 1px solid black;
	}
</style>
