<script lang="ts">
	import { uid } from '$lib/utils/shortUUID';

	export let sectionName: string = uid();

	let editing: boolean = false;

	async function editTitle() {
		editing = true;
	}

	let titleElement: HTMLElement;
	const pencilIcon = '✏️';
</script>

<div class="flex border-1 w-64 ">
	<h2 bind:this={titleElement} contenteditable={true}>{sectionName}</h2>
	<span class=" ml-4 text-xs text-slate-400 align-middle">{pencilIcon} click title to edit</span>
</div>
