<script lang="ts">
	// Between 0 and 1
	export let intensity: number = 0;

	function clamp(i: number, floor: number = 0, ceiling: number = 255): number {
		return Math.max(floor, Math.min(i, ceiling));
	}

	$: red = 0;
	$: green = 0;
	$: blue = 255;
	$: alpha = clamp(0.05 + intensity, 0.05, 0.7);

	let rootElement: any;
	$: rootElement &&
		rootElement.style.setProperty(
			'--background-color-intensity',
			`rgba(${red}, ${green}, ${blue}, ${alpha})`
		);
</script>

<div class="gradiented rounded border-0 h-full w-full" bind:this={rootElement}>
	<slot />
</div>

<style>
	div.gradiented {
		background-color: var(--background-color-intensity);
	}
</style>
