<script lang="ts">
	export let name: string = 'A Property';
	export let count: number = 0;
	export let bgColor: string = 'inherit';
	export let useScroll: boolean = false;

	export function increment() {
		count += 1;
	}

	export function decrement() {
		count += -1;
	}

	function handleMouseWheel(event: WheelEvent) {
		if (!useScroll) {
			return;
		}
		event.preventDefault();
		const adjustedDelta = Math.sign(event.deltaY) * -1;
		count += adjustedDelta;
	}
</script>

<button
	on:click={increment}
	on:contextmenu|preventDefault={decrement}
	on:wheel={handleMouseWheel}
	style="background-color: {bgColor};"
	class="h-full w-full border-1 rounded"
>
	{name} is now
	{count}
</button>
