<script lang="ts">
	import ButtonInABox from '$lib/ButtonInABox.svelte';
	import ButtonWithGradient from '$lib/ButtonWithGradient.svelte';
	import ButtonWithPlusMinus from '$lib/ButtonWithPlusMinus.svelte';
	import ButtonWithPlusMinusWithGradient from '$lib/ButtonWithPlusMinusWithGradient.svelte';
	import EditableTitle from '$lib/primitives/EditableTitle.svelte';
	import { uid } from '$lib/utils/shortUUID';

	export const bgColor: string = 'whitesmoke';
	export let useGradient: boolean = true;
	export let usePlusMinus: boolean = false;
	export let tests = true;

	export let sectionName: string = tests ? uid() : 'section title?';
	export let buttons: Array<{ name: string; count: number }> = new Array();

	let newButton: string | null = null;

	$: sum = buttons
		.flatMap((value) => value.count)
		.reduce((accumulator, current) => (accumulator += current), 0);

	function addClicker(
		event: Event & {
			target: HTMLElement;
		}
	) {
		if (newButton == null) {
			return;
		}
		buttons[buttons.length] = { name: newButton, count: 0 };
		newButton = null;

		event.target?.focus();
	}
	function resetAll(event: Event) {
		buttons.forEach((button) => {
			button.count = 0;
		});
		buttons = buttons;
	}
	function removeAll(event: Event) {
		buttons = [];
		newButton = null;
	}

	if (tests) {
		for (let index = 0; index < 4; index++) {
			buttons[index] = { name: uid(), count: index };
		}
	}
</script>

<section>
	<header class="relative w-full flex">
		<EditableTitle bind:sectionName />
		<div>
			Sum: {sum}
		</div>
	</header>
	<div class="columns-5 gap-2">
		{#each buttons as { name, count }}
			<div class="mb-1">
				{#if useGradient && usePlusMinus}
					<ButtonWithPlusMinusWithGradient {name} bind:count />
				{/if}

				{#if !useGradient && !usePlusMinus}
					<ButtonInABox {name} bind:count {bgColor} />
				{/if}

				{#if useGradient && !usePlusMinus}
					<ButtonWithGradient {name} bind:count />
				{/if}

				{#if !useGradient && usePlusMinus}
					<ButtonWithPlusMinus {name} bind:count {bgColor} />
				{/if}
			</div>
		{/each}
	</div>

	<div class="w-64 gap-2">
		<form class="w-full my-1" on:submit|preventDefault={addClicker}>
			<input
				class="w-fit border-2 border-black-100 rounded"
				bind:value={newButton}
				placeholder="What to track?"
			/>
		</form>
		<button class="w-1/3 bg-red-300 rounded" on:click={resetAll}>Reset all</button>
		<button class="w-1/3 bg-red-300 rounded" on:click={removeAll}>Remove all</button>
	</div>
</section>
