<script lang="ts">
	import ButtonContainer from './ButtonContainer.svelte';
	import { uid } from '../utils/shortUUID';

	export let children: Array<{ sectionName: string }> = new Array();
	export let useGradient = true;
	export let usePlusMinus = true;
	export let tests = true;

	function addNew() {
		let sectionName: string = tests ? uid() : 'section title?';
		children.push({ sectionName: sectionName });
		children = children;
	}

	function removeLast() {
		children.pop();
		children = children;
	}

	if (tests) {
		for (let index = 0; index < 5; index++) {
			addNew();
		}
	}
</script>

<section class="my-8">
	<div>
		{#each children as { sectionName }}
			<div class="my-4 border-2">
				<ButtonContainer {sectionName} {useGradient} {usePlusMinus} {tests} />
			</div>
		{/each}
	</div>

	<div class="h-fit">
		<button class="bg-slate-100 rounded p-10px" on:click={addNew}>Add new section</button>
		<button class="bg-slate-100 rounded p-10px" on:click={removeLast}>Remove last section</button>
	</div>
</section>
